<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}" data-bs-theme="dark">

{% include head.html %}

<body>
	{% include navbar.html %}
	<div class="container">
		{% for post in site.posts %}
		<div class="card">
			<div class="card-header">
				{% for tag in post.tags %}
				<span class="badge text-bg-secondary">{{ tag }}</span>
				{% endfor %}
			</div>
			<div class="card-body">
				<h5 class="card-title">{{ post.title }}</h5>
				<p class="card-text">
					Published on: <b>{{ post.date | date: "%-d %B %Y" }}</b>
				</p>
				<a href="{{ post.url }}" class="btn btn-primary">View post</a>
			</div>
		</div>
		{% endfor %}
	</div>
	{% include footer.html %}
</body>

</html>