<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">

{%- include head.html -%}

<body dark="1">
	{%- include navbar.html -%}
	<article class="grid">
		<section class="center transparent">
			<img id="logo" src="{{ "/assets/img/banner-white.png" | relative_url}}" alt="Banner">
		</section>
		<section class="center">
			<h3>About me</h3>
			{{ content }}
		</section>
	</article>
	<article class="social-links">
		<ol>
			<li><a href="https://savandev.itch.io/" target="_blank"><i class="fab fa-itch-io"></i> Itch.io</a></li>
			{% if site.github %}
            <li><a href="https://github.com/{{ site.github }}" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
			{% endif %}
			{% if site.twitter %}
				<li><a href="https://twitter.com/{{ site.twitter:username }}" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
			{% endif %}
			{% if site.instagram %}
				<li><a href="https://instagram.com/{{ site.instagram }}" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
			{% endif %}
			<li><a href="https://www.youtube.com/channel/UCIMHuQHSK7b7ZbAL0ItSfZg" target="_blank"><i class="fab fa-youtube"></i> YouTube</a></li>
		</ol>
		<a href="{{ "/drawings" | relative_url }}">
			<section class="drawings-button">
				<h2>My drawings</h2>
			</section>
		</a>
	</article>
	<!--article class="color-primary grid">
		<section class="transparent">
			<h3>About me</h3>
			{{ content }}
		</section>
		<section class="transparent">
			<h3>My PC</h3>
			<p><b>OS:</b> {{ page.os }}</p>
			<p><b>CPU:</b> {{ page.cpu }}</p>
			<p><b>GPU:</b> {{ page.gpu }}</p>
			<p><b>RAM:</b> {{ page.ram }}</p>
			<p><b>Storage:</b> {{ page.storage }}</p>
		</section>
	</article-->
	
	<article class="color-dark">
		<h3>My Projects</h3>
		<section class="transparent center">
			{%- for post in site.posts -%}
					<a class="appHome" href="{{ post.url | relative_url }}">
						<img class="appImg" src="{{ post.image | relative_url }}" alt="{{ post.title }}">
						<span class="appText">{{ post.title }}</span>
					</a>
			{%- endfor -%}
		</section>
	</article>
	{%- include footer.html -%}
</body>

</html>