<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">

{%- include head.html -%}

<body class="fade" dark="1">
	{%- include navbar.html -%}
	<article>
		<section class="center transparent">
			<img id="logo" src="{{ "/assets/img/banner-white.png" | relative_url}}" alt="Banner">
		</section>
		<p class="alert-warning">{% fa_svg fas.fa-exclamation-triangle %} This site is under development, so many things may change in the future {% fa_svg fas.fa-exclamation-triangle %}</p>
		<div id="lastProjects">
			<p class="alert-primary">Latest release: <b>{{ page.latestRelease }}</b></p>
			<p class="alert-secondary">Work in progress: <b>{{ page.wip }}</b></p>
		</div>
		<a href="{{ "/drawings" | relative_url }}">
			<section class="drawings-button">
				<h2>My drawings</h2>
			</section>
		</a>
	</article>
	<article class="color-primary grid">
		<section class="transparent">
			<h3>About me</h3>
			{{ content }}
		</section>
		<section class="transparent">
			<h3>My PC</h3>
			<p><b>OS:</b> {{ page.os }}</p>
			<p><b>CPU:</b> {{ page.cpu }}</p>
			<p><b>GPU:</b> {{ page.gpu }}</p>
			<p><b>RAM:</b> {{ page.ram }}</p>
			<p><b>Storage:</b> {{ page.storage }}</p>
		</section>
	</article>
	<article class="color-dark">
		<h3>My Projects</h3>
		<section class="transparent">
			{%- for category in site.categories -%}
				<ul>
					{%- for page in category[1] -%}
						<li class="appsList">
							<a href="{{ page.url | relative_url }}">
								<img class="appImg" src="{{ page.image | relative_url }}" alt="{{ page.title}}">
								<span class="appText">{{ page.title }}</span>
								<span class="appPlatform">
									{%- for item in page.platform -%}
										{% if item == "windows" %}
										{% fa_svg fab.fa-windows %}
										{% endif %}
										{% if item == "linux" %}
										{% fa_svg fab.fa-linux %}
										{% endif %}
										{% if item == "mac" %}
										{% fa_svg fab.fa-apple %}
										{% endif %}
										{% if item == "web" %}
										{% fa_svg fab.fa-firefox %}{% fa_svg fab.fa-chrome %}
										{% endif %}
										{% if item == "android" %}
										{% fa_svg fab.fa-android %}
										{% endif %}
									{%- endfor -%}
								</span>
							</a>
						</li>
					{%- endfor -%}
				</ul>
			{%- endfor -%}
		</section>
	</article>
	{%- include footer.html -%}
</body>

</html>