<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}" data-bs-theme="dark">

{% include head.html %}

<body>
    {% include navbar.html %}
    <div class="container">
        <!-- Gallery -->
        <div class="row d-flex flex-wrap align-items-center">
            {% for picture in site.data.drawings reversed %}
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card mb-4">
                    <a href="{{ picture.url | relative_url }}" data-toggle="lightbox">
                        <img src="{{ picture.url | relative_url }}" class="card-img-top" alt="{{ picture.name }}" title="{{ picture.name }}" />
                    </a>
                    <div class="card-body">
                        <p class="card-text">Published on
                            <span class="drawing-social">
                                {% if picture.social == "instagram" %}
                                <i class="fab fa-instagram"></i>
                                {% endif %}
                                {% if picture.social == "twitter" %}
                                <i class="fab fa-twitter"></i>
                                {% endif %}
                                {% if picture.social == "newgrounds" %}
                                <i class="fas fa-square"></i>
                                {% endif %}
                                {% if picture.social == "dream" %}
                                <i class="fas fa-globe"></i>
                                {% endif %}
                            </span>
                        </p>
                        <a href="{{ picture.link }}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                
            </div>
            {% endfor %}
        </div>
        <!-- Gallery -->
    </div>
    {% include footer.html %}
</body>
</html>