<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}" data-bs-theme="dark">

{% include head.html %}

<body dark="1">
    {% include navbar.html %}
    <div class="container">
        <!-- Gallery -->
        <div class="row d-flex flex-wrap align-items-center mt-4">
            {% for picture in site.data.drawings reversed %}
            <div class="col-12 col-md-6 col-lg-3">
                <a href="{{ picture.link }}" target="_blank">
                    <img src="{{ picture.url | relative_url }}"
                    class="w-100 shadow-1-strong rounded mb-4" alt="{{ picture.name }}" title="{{ picture.name }}"/>
                </a>
            </div>
            {% endfor %}
        </div>
        <!-- Gallery -->
    </div>
    {% include footer.html %}
</body>
</html>