---
---
@import "fontawesome/fontawesome";
@import "fontawesome/solid";
@import "fontawesome/brands";
@import "apps";

@font-face {
    font-family: TechnaSans;
    src: url({{ "assets/fonts/TechnaSans-Regular.otf" | relative_url }});
}

section {
    box-shadow: none;
}

b {
    font-family: TechnaSans, "Roboto", "Open Sans", sans-serif;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: TechnaSans, "Roboto", "Open Sans", sans-serif;
    font-weight: normal;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: -4px .5rem 0 0;
}

#logo {
    max-width: 720px;
    width: 100%;
}

.tiny {
    max-width: 180px;
}

i {
    margin: auto .2rem;
}

.appHome {
    display: block;
    text-align: center;
    padding: 1rem;

    > img {
        width: 64px;
    }

    > .appText {
        display: block;
        //overflow: hidden;
        //text-overflow: ellipsis;
        font-weight: bolder;
        font-size: large;
        //white-space: nowrap;
        padding-top: .5rem;
    }
}

.labsMenu {
    display: none; // Hasta que esté terminado
    max-width: initial;

    @media screen and (min-width: 1000px) {
        position: sticky;
        top: 4rem;
        align-self: flex-start;
        max-width: 25rem;
    }
}

footer {
    margin-bottom: 1rem;
}

.links {
    margin: 0 auto;
}

/* Transición entre páginas */

.page-transition-enter {
    opacity: 0;
    transform: translateY(10px);
}

.page-transition-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.5s;
}

.page-transition-exit {
    opacity: 1;
    transform: translateY(0);
}

.page-transition-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s, transform 0.5s;
}