<footer>
    <p>SavanDev - 2016 / {{ site.time | date: '%Y' }}</p>
    <ol>
        {% if site.twitter %}
            <li><a href="https://twitter.com/{{ site.twitter:username }}" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
        {% endif %}
        {% if site.instagram %}
            <li><a href="https://instagram.com/{{ site.instagram }}" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
        {% endif %}
    </ol>
</footer>
<script src="{{ "/assets/js/cleanify.js" | relative_url }}"></script>
<script src="{{ "/assets/js/index.js" | relative_url }}"></script>
<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
  kofiWidgetOverlay.draw('savandev', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Support me',
    'floating-chat.donateButton.background-color': '#00b9fe',
    'floating-chat.donateButton.text-color': '#fff'
  });
</script>
