<nav>
    <a class="navbar-title" href="{{ "/" | relative_url }}">{{ site.title }}</a>
    {% if site.showNavbar %}
        <ul class="navbar-menu">
            {% for pagesList in site.pages %}
                {% if pagesList.showInNavbar %}
                    <li><a href="{{ pagesList.url | relative_url }}">{{ pagesList.title | escape }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    <ul class="navbar-right-menu">
        {% if site.github %}
            <li><a href="https://github.com/{{ site.github }}" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
		{% endif %}
        <!--li><b>Upd:</b> {{ site.time | date: '%m/%d/%y' }}</li-->
    </ul>
</nav>