<nav>
    <a class="navbar-title" href="{{ "/" | relative_url }}">{{ site.title }}</a>
    {% if site.showNavbar %}
        <ul class="navbar-menu">
            {%- for pagesList in site.pages -%}
                {% if pagesList.showInNavbar %}
                    <li><a href="{{ pagesList.url | relative_url }}">{{ pagesList.title | escape }}</a></li>
                {% endif %}
            {%- endfor -%}
        </ul>
    {% endif %}
    <ul class="navbar-right-menu">
        <li><b id="beta-text">BETA</b></li>
        <li><b>Upd:</b> {{ site.time | date: '%m/%d/%y' }}</li>
    </ul>
</nav>