---
---
@import "post";
@import "exclusive";
@import "drawings";
@import "fontawesome/fontawesome";
@import "fontawesome/solid";
@import "fontawesome/brands";
@import "apps";
@import "slidershow";

@font-face {
    font-family: TechnaSans;
    src: url({{ "assets/fonts/TechnaSans-Regular.otf" | relative_url }});
}

section {
    box-shadow: none;
}

b {
    font-family: TechnaSans, "Roboto", "Open Sans", sans-serif;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: TechnaSans, "Roboto", "Open Sans", sans-serif;
    font-weight: normal;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: -4px .5rem 0 0;
}

#logo {
    max-width: 720px;
    width: 100%;
}

.tiny {
    max-width: 180px;
}

i {
    margin: auto .2rem;
}

.drawings-button {
    background-image: url("/assets/img/drawings/Head.png");
    background-repeat: no-repeat;
    background-color: #0F0000;
    background-position-y: center;
    background-size: contain;
    color: white;
    text-align: right;
    max-width: 700px;
    margin: auto;
    border: var(--color-dark) 2px solid;

    &:hover {
        color: white;
        background-image: url("/assets/img/drawings/Head-with-scarf.png");
        background-color: #00000F;
    }
}

.appHome {
    display: block;
    text-align: center;
    padding: 1rem;

    > img {
        width: 64px;
    }

    > .appText {
        display: block;
        //overflow: hidden;
        //text-overflow: ellipsis;
        font-weight: bolder;
        font-size: large;
        //white-space: nowrap;
        padding-top: .5rem;
    }
}

.social-links {
    padding-top: 0;
}

.labsMenu {
    display: none; // Hasta que esté terminado
    max-width: initial;

    @media screen and (min-width: 1000px) {
        position: sticky;
        top: 4rem;
        align-self: flex-start;
        max-width: 25rem;
    }
}