---
---
@import "post";
@import "exclusive";
@import "drawings";
@import "fontawesome/fontawesome";
@import "fontawesome/solid";
@import "fontawesome/brands";

@font-face {
    font-family: TechnaSans;
    src: url({{ "assets/fonts/TechnaSans-Regular.otf" | relative_url }});
}

b {
    font-family: TechnaSans, "Roboto", "Open Sans", sans-serif;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: TechnaSans, "Roboto", "Open Sans", sans-serif;
    font-weight: normal;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: -4px .5rem 0 0;
}

a:hover {
    fill: white;
}

header {
    img {
        width: auto;
        padding: 0 1.5rem;
    }

    @media screen and (min-width: 1000px) {
        padding: 2rem 0;
    }
}

#logo {
    max-width: 720px;
    width: 100%;
}

.grid-apps {
    display: inline;

    a {
        margin: .5rem;
    }

    img {
        height: 128px;
        transition: transform .2s;

        &:hover {
            transform: scale(1.25);
        }
    }
}

.appsList {
    img {
        height: 32px;
        margin-right: 1rem;
        vertical-align: middle;
    }

    .appPlatform {
        float: right;
        padding: .5rem;
    }
}

.tiny {
    max-width: 180px;
}

i {
    margin: auto .2rem;
}

.drawings-button {
    background-image: url("/assets/img/drawings/Head.png");
    background-repeat: no-repeat;
    background-color: #0F0000;
    background-position-y: center;
    background-size: 20%;
    color: white;
    text-align: right;

    @media screen and (max-width: 600px) {
        background-size: contain;
    }

    &:hover {
        color: white;
        background-image: url("/assets/img/drawings/Head-with-scarf.png");
        background-color: #00000F;
    }
}

article {
    margin: auto !important;
}