.appCard {
    max-width: 540px;
}

.appImg {
    width: 180px;
}

@media screen and (min-width: 1200px) {
    .appContent {
            position: relative;
        }
    
        .appFooter {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
}