.appItem {
    display: inline-block;
    margin: .5rem;
    background-color: var(--color-dark);
    border-radius: .5rem;
    border: 2px solid var(--color-muted);

    transition: transform .2s;

    &:hover {
        transform: scale(1.1);
    }
}

.appImg {
    max-width: 72px;
}

.appText {
    display: block;
    font-weight: bold;
}

.appPlatform {
    display: block;
    padding: .25rem;
    width: fit-content;
}