@mixin grid-drawings($gradient1, $gradient2) {
    display: block;
    text-align: center;

    > a {
        display: inline-block;
        position: relative;
        border-radius: .75rem;
        border: 2px solid white;
        background-image: linear-gradient(0deg, $gradient1 0%, $gradient2 100%);
        margin: .5rem;
        overflow: hidden;

        transition: transform .2s;

        &:hover {
            transform: scale(1.25);
            z-index: 1;
            border: 2px solid var(--color-primary);
        }

        img {
            width: fit-content;
            opacity: .75;
            transition: all .2s;
    
            &:hover {
                opacity: 1.0;
                
            }
        }
    }
}

.drawings-title {
    background-color: var(--color-dark);
    padding: .5rem 1rem .1rem .5rem;
    border-radius: 1rem;

    > svg {
        width: 48px;
        margin-bottom: .5rem;
        vertical-align: middle;
        margin-right: 0;
        height: 32px;
    }
}

.drawings-posting {
    @include grid-drawings(rgb(0, 0, 100), rgb(0, 255, 255));
}