.exclusive {
    section:first-child {
        max-width: 13rem;
        img {
            width: 100%;
        }
    }

    section:last-child {
        max-width: 18rem;
        min-height: 13rem;
    }

    .post-logo {
        border: 2px solid var(--color-muted);
        border-radius: .5rem;
        background-color: var(--color-dark);
        padding: .5rem;
    }

    #platforms {
        display: inline-block;
        width: fit-content;

        #noRelease > * {
            color: darkred;
            fill: darkred;
        }
    }

    .language {
        background-color: var(--color-primary);
        margin-left: .25rem;
        padding: .5rem;
        border-radius: 1rem;
    }

    ol {
        width: 95%;
    }
}

#contentFrame {
    display: block;
    margin: 1rem auto;
    width: 100%;

    iframe {
        border-radius: 1rem;
        width: 100%;
    }
}

.ex-description {
    padding-top: 0;
}