.post {
    .post-details {
        max-width: 18rem;
        margin-bottom: 0;
    }

    .post-logo {
        border: 2px solid var(--color-muted);
        border-radius: .5rem;
        background-color: var(--color-dark);
        padding: .5rem;
        width: 15rem;
        margin: .5rem 1.5rem;
    }

    .post-info {
        display: inline-block;
        vertical-align: top;
        margin: 1rem auto;
        width: calc(100% - 19rem);

        .post-title {
            display: inline-block;
            vertical-align: middle;
        }
    
        #platforms {
            display: inline-block;
        }
    }

    #trailer {
        display: block;
        margin: auto 1rem 1rem 1rem;
    }

    #preview {
        display: block;
        margin: auto auto 1rem auto;
        border: 2px solid #fff;
        border-radius: .5rem;
    }
}

.bi {
    &:hover {
        svg {
            fill: white;
        }
    }
}

svg {
    fill: #fff;
}

.post-content {
    blockquote {
        margin: 1rem auto !important;
    }
}

.post-desc {
    text-align: center;
    padding: .75rem;
    margin-top: 0;
    padding-top: 0;
}