.post {
    section:first-child {
        max-width: 18rem;
        img {
            width: calc(100% - 3rem);
            margin: .5rem 1.5rem;
        }
    }

    section:last-child {
        max-width: 18rem;
    }

    #platforms {
        display: inline-block;
        width: fit-content;
        margin: 0 .5rem;
    }

    #trailer {
        padding: 1rem;
    }
}

.bi {
    &:hover {
        svg {
            fill: white;
        }
    }
}

svg {
    fill: #fff;
}
